/* Bar Styling */
#trackingBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barBackground {
  height: 50px;
  width: 1000px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barGuessRange {
  height: 50px;
  width: 1000px;
  background-color: green;
  margin-left: 0px;
  margin-right: 0px;
}

/* Initial Reset Text */
#reset {
  display: none;
}
